#checkout .woocommerce{
  position: relative;

  .loading-spinner-holder{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.73);
  }
  .loading-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.loading-spinner-button{
  margin-right: 10px;
}

.woocommerce form .form-row label:last-child {
  display: none ;
}


#deliver_select_field{
  input{
    display:none;
    }
  label.radio{
    display:inline-block;
    width : 50%;
    margin: 0;
    text-align: center;
    padding: 7px;
    text-transform: uppercase;
  }
  label[for="home"]{
    display:block;
  }
}

.tabs--selector{
  display:flex;
  li{
    flex: 1;
    text-align: center;
    &.is-active a,
    &.is-active{
      color: white;
      background:#D2BB92;
    }

  }
  a{
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
  }
}

.woocommerce-billing-fields{
  display: flex;
  flex-wrap: wrap;

  h3{
    width: 100%;
  }
  .flex-field {
    width: 100%;
    //order: 99;
    .form-row{
      width: 100%;
    }
  }
  .flex-billing_first_name,
  .flex-billing_last_name
  {
    width: 50%;
    //order: 1;
  }
  .flex-billing_company{
    //order: 2;
  }
  .flex-billing_gg_address{
    //order: 3;
  }
  .flex-field__display-address{
    //order: 4;
  }
}