.woocommerce-order-received{
  #page{
    padding-top: 50px;
  }
  .checkout-notice,
  .checkout-step{
    display: none !important;
  }
  h2{
    @extend .cart-labels;
    font-size: 18px;
  }
  h3{
    @extend .cart-labels;
    font-size: 16px;
  }
  .woocommerce-thankyou-order-details.order_details{
    display: flex;
  }
  .woocommerce-thankyou-order-details.order_details li{
    @extend .cart-labels;
    padding: 20px 0;
    font-size: 12px;
    flex: 1;
    text-align: center;
    strong{
      margin-top: 20px;
      font-size: 14px;
    }
  }
  .col2-set.addresses{
    display: flex;
  }
}