#page {
  @include grid-row();
  margin-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }
    @include breakpoint(medium) {
      @include grid-column(12);
    }
    @include breakpoint(large) {
      @include grid-column(8);
    }
  }
  .main-content:first-child {
    @include grid-column(12);
  }

}

body.page-id-1349 .off-canvas-content,
body.archive .off-canvas-content,
body.blog .off-canvas-content{
  background: map-get($ben-palette, 'cream');
}
body.single .off-canvas-content{
  //background: #fff;
}
.site-header{
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}