.product-archived {
  text-align: center;
  @include breakpoint(medium){
    margin-bottom: 10vh;
  }

  h3 {

    margin-bottom: 20px;
    a{
      color:  map-get($ben-palette, 'navy-blue');
    }

  }
  .image-crop_bottle {
    height: 60vh;
    @include breakpoint(medium){
      height: 50vh;
    }
  }
}