.product-archived {
  text-align: center;
  @include breakpoint(medium){
    margin-bottom: 10vh;
  }

  h3 {
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    a{
      color:  map-get($ben-palette, 'navy-blue');
    }

  }
  .image-crop_bottle {
    height: 60vh;
    @include breakpoint(medium){
      height: 50vh;
    }
  }
}

body.woocommerce-page{
  .product-archived:last-child:not(:first-child){
    float: left;
  }
  .product-archived{
    margin-bottom: 50px;
  }
}