@media screen and (max-width: 63.9375em) {
  .page-template-page-one-cart-php #page .woocommerce{
    width: 100%;
    max-width: 25em;
    float: none;
    margin: auto;
  }
  .checkout-section .checkout-step{
    display: block;
  }
  .woocommerce .cart .button, .woocommerce .cart input.button {
    width: 100%;
  }

  .cart-header-button {
    border: none !important;
  }
}

// Remove distraciton from checkout

.page-template-page-one-cart-php{
  #footer-container,
  #masthead {
    display: none;
  }

  #page{
    min-height: 100vh;
  }
}
.page-template-page-one-cart-php.woocommerce-order-received{
  #footer-container,
  #masthead {
    display: inherit;
  }

  #page{
    min-height: 100vh;
  }
}
