body.single {


  .entry-content.rich-text-editor{
    padding-top: 5rem;
    @include grid-row();
  }

  .entry-content.rich-text-editor p{
    float: left !important;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;

    margin-bottom: 16px;
    color: map_get($ben-palette, 'secondary-text-grey');

    @include grid-column(10);
    @include grid-column-offset(1);

    @include breakpoint(medium) {
      font-size: 21px;
      line-height: 34px;
      margin-bottom: 20px;
      @include grid-column(8);
      @include grid-column-offset(2);
    }

    @include breakpoint(large) {
      font-size: 21px;
      @include grid-column(8);
      @include grid-column-offset(2);
    }


  }
  .entry-content.rich-text-editor {
     h1,h2,h3,h4{


      float: left !important;

      @include grid-column(10);
      @include grid-column-offset(1);

      @include breakpoint(medium) {
        @include grid-column(8);
        @include grid-column-offset(2);
      }

      @include breakpoint(large) {
        @include grid-column(8);
        @include grid-column-offset(2);
      }
     }

  }
  .entry-content.rich-text-editor blockquote{
    margin-top: 20px;
    margin-bottom: 40px;

    border-left: 3px solid map-get($foundation-palette, 'primary');

    @include grid-column(12);
    @include grid-column-offset(0);

    @include breakpoint(medium) {
      @include grid-column(10);
      @include grid-column-offset(1);
    }

    @include breakpoint(large) {
      @include grid-column(10);
      @include grid-column-offset(1);
    }
    p{
      @include grid-column(12);
      @include grid-column-offset(0);
      margin-bottom: 10px;
      span{
        font-size: 31px;
        line-height: 46px;
        font-weight: 400;
        font-family: $header-font-family;


        color: map-get($foundation-palette, 'primary');
      }
    }
  }
  .entry-content.rich-text-editor p.single-image{
    @include grid-column(12);
    @include grid-column-offset(0);
    margin-bottom: 40px;
    img{
      width: 100%;
    }
  }
  .entry-content.rich-text-editor p.single-image-inline{
    @include grid-column(8);
    @include grid-column-offset(2);
    margin-bottom: 40px;
    img{
      width: 100%;
    }
  }
  .entry-content.rich-text-editor .gallery{

    margin-top: 20px;
    margin-bottom: 40px;
    float: left !important;

    @include grid-column(12);
    @include grid-column-offset(0);

    @include breakpoint(medium) {
      @include grid-column(12);
      @include grid-column-offset(0);
    }

    @include breakpoint(large) {
      @include grid-column(10);
      @include grid-column-offset(1);
    }

    figure{
      margin:0;

      img{
        width: 100%;
      }
      figcaption{
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .entry-content.rich-text-editor .gallery-columns-2{
    figure{
      @include grid-column(12);
      @include grid-column-offset(0);

      @include breakpoint(medium) {
        @include grid-column(6);
        @include grid-column-offset(0);
      }

      @include breakpoint(large) {
        @include grid-column(6);
        @include grid-column-offset(0);
      }
    }

  }


  article footer{
    border-top: 0px solid  map_get($ben-palette, 'secondary-text-grey');
  }

  .at-icon-wrapper{
    background-color:  map_get($ben-palette, 'primary-grey') !important;
  }

}
