body.single {


  article .entry-content{
   padding-top: 5rem;
    @include grid-row();
  }

  p{
    @include grid-column(8);
    @include grid-column-offset(2);
    float: left !important;
    font-size: 21px;
    line-height: 34px;
    font-weight: 400;

    margin-bottom: 20px;
    color: map_get($ben-palette, 'charcoal');
  }
  blockquote{
    margin-top: 20px;
    margin-bottom: 40px;

    border-left: 3px solid map-get($foundation-palette, 'primary');

    @include grid-column(10);
    @include grid-column-offset(1);
    p{
      @include grid-column(12);
      @include grid-column-offset(0);
      margin-bottom: 10px;
      span{
        font-size: 31px;
        line-height: 46px;
        font-weight: 400;
        font-family: $header-font-family;


        color: map-get($foundation-palette, 'primary');
      }
    }
  }
  p.single-image{
    @include grid-column(12);
    @include grid-column-offset(0);
    margin-bottom: 40px;
    img{
      width: 100%;
    }
  }
  p.single-image-inline{
    @include grid-column(8);
    @include grid-column-offset(2);
    margin-bottom: 40px;
    img{
      width: 100%;
    }
  }
  .gallery{

    margin-top: 20px;
    margin-bottom: 40px;
    float: left !important;
    @include grid-column(8);
    @include grid-column-offset(2);

    figure{
      margin:0;

      img{
        width: 100%;
      }
      figcaption{
        margin-top: 20px;
      }
    }
  }
  .gallery-columns-2{
    figure{
      @include grid-column(6);
    }

  }



}
