.button {
  font-weight: 400;
  text-transform: uppercase;
  &-bold{
    font-weight: 600;
  }
  &-block{
    display: block;
  }
  &-block-auto{
    display: block;
    width: auto;
  }
}


.hollow{
  &.black{
    color: #000;
    border-color: #000;
    &:hover,
    &:active{
      color: lighten(#000, 50%) ;
      border-color: lighten(#000, 50%) ;
    }
    &.active{
      color: #fff;
      background-color: lighten(#000, 70%);
      border-color: lighten(#000, 50%) ;

    }
  }
  &.white{
    color: #fff;
    border-color: #fff;
    &:hover,
    &:active{
      color: darken(#fff, 50%) ;
      border-color: darken(#fff, 50%) ;
    }
    &.active{
      color: #fff;
      background-color: darken(#000, 70%);
      border-color: darken(#fff, 50%) ;

    }
  }
  &.news{
      color: map-get($blog-palette, 'news');
      border-color:  map-get($blog-palette, 'news');
    &:hover,
    &:active{
      color: darken(map-get($blog-palette, 'news'), 20%) ;
      border-color: darken(map-get($blog-palette, 'news'), 20%) ;
    }
    &.active{
      color: #fff;
      background-color: map-get($blog-palette, 'news');
      border-color:  map-get($blog-palette, 'news') !important;
    }
  }
  &.posts,
  &.post,
  &.articles{
      color: map-get($blog-palette, 'articles');
      border-color:  map-get($blog-palette, 'articles');
    &:hover,
    &:active{
      color: darken(map-get($blog-palette, 'articles'), 20%) ;
      border-color: darken(map-get($blog-palette, 'articles'), 20%) ;
    }
    &.active{
      color: #fff;
      background-color: map-get($blog-palette, 'articles');
      border-color:  map-get($blog-palette, 'articles') !important;
    }
  }
  &.review,
  &.reviews{
      color: map-get($blog-palette, 'reviews');
      border-color:  map-get($blog-palette, 'reviews');
    &:hover,
    &:active{
      color: darken(map-get($blog-palette, 'reviews'), 20%) ;
      border-color: darken(map-get($blog-palette, 'reviews'), 20%) ;
    }
    &.active{
      color: #fff;
      background-color: map-get($blog-palette, 'reviews');
      border-color:  map-get($blog-palette, 'reviews') !important;

    }
  }
}
.blog-filter-button{
  margin-bottom: -40px;
  float: right;
  max-width: none;
  text-align: center;
  opacity: 0.5;

  @include breakpoint(medium){
    margin-bottom: -10px;
    max-width: 200px;
  }
  @include breakpoint(large){
    display: none;
  }
}

