.woocommerce {

  .bh-cart {
    display: flex;
    padding: 0 20px 35px 0;
    &__image-container {
      position: relative;
      width: 40%;
    }
    &__product-remove {
      display: inline-block;
      a.remove{
        display: inline-block !important;
        position: relative;
        top: 4px;
        left: 5px;
        color: #D2BB92 !important;
        &:hover {
          color: #fff !important;
          background: #D2BB92;
        }
      }
    }
    &__section {
      position: relative;
      width: 55%;
      margin-left: 5%;
    }
    &__product-name {
      font-size: 12px;
      margin-bottom: 15px;
      a {
        color: #000;
      }
    }
    &__product-price {
      font-size: 12px;
      font-weight: bold;
    }
    &__labels{
      font-size: 12px;
      font-weight: bold;
    }
    &__product-quantity{
      .quantity{
        display: inline-block;
      }
      .quantity .qty {
        display: inline-block;
        font-size: 0.8em;
        height: 2.3em;
        width: 4em;
        text-align: left;
        margin-bottom: 0 !important;
      }
    }

  }
  .shop_table .accordion-title{
    @extend .cart-labels;
    color: #333 !important;
    padding: 0.75rem 0.5rem;
    font-size: 10px;
    line-height: 1.67;
  }
  .shop_table .accordion-title::before{
    font-size: 18px;
    margin-top: 0;
    transform : translateY(-50%);
  }
  .flex-accordion-title {
    justify-content: space-between;
    display: flex;
    align-items: center;

    span.number {
      width: 1.5rem;
      height: 1.5rem;
      color: white;
      background: black;
      line-height: 1.5rem;
      text-align: center;
      border-radius: 100%;
      margin-right: .5rem;
    }
    span.name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
    }
    span.total {
      width: 2rem;
      margin-right: 2rem;
      margin-left: 1rem;
    }
  }
  .flex-form{
    display: flex;
  }
}
