@include breakpoint(small) {
	#featured-hero {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0 0 rem-calc(32);
		position: relative;
		height: rem-calc(200);
		}

		.no-featured-image-set {
			height: rem-calc(16) !important;
		}
}

@include breakpoint(medium) {
	#featured-hero {
		height: rem-calc(400);
		}
}

.video-container>div {
  z-index: 0 !important;
}

.image-crop {
	position: relative;
	overflow: hidden;
	height: auto;
	width: 100%;
	margin-bottom: 30px;

	&_feature{

        @include aspect-ratio(1,1);
        @include breakpoint(medium){
          @include aspect-ratio(569,352);
        }
	}
	&_bottle{
		@include aspect-ratio(115 , 248);

	}
	&_news{
		@include aspect-ratio(374 , 210);
	}
	&_no-image{
		display: none;
	}
	&--link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&:hover:before{
			transition: background .3s ease-out;
			background: rgba(0, 0, 0, .8);
		}
		&:before {
			content: '';
			transition: background .3s ease-out;
			background: rgba(0, 0, 0, 0);
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&--image {
		position: absolute;
		opacity: 1;
		top: 50%;
		transform: translate(0,-50%);
		width: 100%;
		transition: all 4s;
		max-width: none;
		left: auto;
		&:hover{
			width: 110%;

			transform: translate(-5%,-50%);
			transition: all 4s;
		}
	}
	&--bottle-shot{
		position: absolute;
		opacity: 1;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		width: auto;
		max-width: none;
		transition: all .4s;
		&:hover{
			height: 200% !important;
			top: -90%;
			transform: translate(-50%);
			transition: all .4s;
			transition-delay: .4s;
		}
	}
	&--description{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: white;
		text-align: center;
		font-weight: 600;
		width: 100%;
		padding: 0 10%;
		z-index: 11;
	}
	&-outer{
		padding: 0 80px;
	}

}

.small-inner {
  padding: 10px;
  @include breakpoint(medium){
    padding: 0 0;
  }
}


.news_archived.type-review.review {
	.image-crop_news:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: 40%;
	}
}
