.production-description-nav{
  &__link{
    color: black;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    &.active{
      color: #D2BB92;
    }
  }
}

#production-description-content{
  figure,
  img{
    max-width: 100%;
  }
}
