.color{
  color: inherit;
  &-white{
    color: white;
  }
  &-black{
    color: black;
  }
}

.p-upper{
  /* Ben Haines Wine: */
  text-transform: uppercase;
  font-family: Lato-Bold;
  font-size: 18px;
  color: #B7B7B7;
  letter-spacing: 0;
  line-height: 24px;
}
