.custom-notice{
  position: static;
  display: none;
  margin: 0px auto 0px !important;
  background: #18de83;
  z-index: 9999999;
  width: 100%;
  padding: 0.5rem 3rem 0.5rem 0.5rem !important;
  text-align: left !important;
  display: flex;
  align-items: center;
  justify-content: center;

  span{
    line-height: 1.7;
    font-weight: 400;
    font-size: 14px;
  }
  &:before {
    display: none;
  }
  .fa.fa-close{
    position: absolute;
    right:18px;
    top: 20px;
    font-size: 18px;
    color: map_get($ben-palette, 'charcoal');
  }
}
.custom-notice--error {
  background: #ffae00;
}
.breadcrumbs__header+.message__header{
  margin-top: -30px;
}
.message__header{
  border-top:3px solid #8fae1b;
  background: #f7f6f7;
}

.custom-notice:before{
  left: 32px;
  top: 0;
}
.custom-notice .button{
  margin: 0 15px;
  float: right;
  display: block;
  max-width: 150px;
}

@media screen and (max-width: 63.9375em) {

.custom-notice{
    padding: 3rem 1rem !important;
  }
.custom-notice .button {
    float: none;
    display: block;
    max-width: 150px;
    margin: 15px auto 0 !important;
  }
  .custom-notice {
    border-top: none;
    display: block;
    line-height: 24px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: none;
    margin-bottom: 0;
    &:before{
      display: none;
    }
  }
}
