.carousel--arrow-nav {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  &_prev{
    left:10px;
    right: auto;
  }
  &_next{
    right:10px;
    left: auto;
  }
}
.carousel-no-arrows{
  .carousel--arrow-nav{
    display: none !important;
  }
}
.carousel-container{
  position: relative;
}
.slick-slider{
  margin-bottom: 50px;
}
.slick-dots {

  position: absolute;
  bottom: 50px;
  right: -20px;
  transform: translateX(-50%);
  left: auto;
  margin: 0;
  color: #000;
  li {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    &:before{
      font-family: FontAwesome;
      content: "\f10c";
    }
    &.slick-active:before{
      font-family: FontAwesome;
      content: '\f111';

    }
    button{
      display: none;
    }
  }
}
.slick-prev{
  left:0;
  right:auto;
}
.slick-next{
  right:0;
  left:auto;
}