.carousel--arrow-nav {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  &_prev{
    left:10px;
    right: auto;
  }
  &_next{
    right:10px;
    left: auto;
  }
}
.carousel-container{
  position: relative;
}
.slick-slider{
  margin-bottom: 50px;
}
.slick-dots {
  display: none !important;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  right: auto;
  margin: 0;
  li {
    display: inline-block;
    &:before{
      font-family: FontAwesome;
      content: "\f10c";
    }
    &.slick-active:before{
      font-family: FontAwesome;
      content: '\f111';

    }
    button{
      display: none;
    }
  }
}
.slick-prev{
  left:0;
  right:auto;
}
.slick-next{
  right:0;
  left:auto;
}