.hero{
  //@include aspect-ratio(16, 9);
  
  padding: 60px 0;
  &_single-page{
    padding: 120px 0;
  }
  &--panel{
    background: #fff;
    padding: 30px 30px;

  }
}
body.single .parallax-mirror{
  &:after{
    content: "";
    width: 100%;
    height:100%;
    position: absolute;
    background: #000;
    z-index:9;
    opacity: 0.5;
  }
}

.hover-mirror{
  z-index: 15;
  position: relative;
}
//TODO: hide sticky post form aarchive
//.sticky-post{
//  //display: none;
//}
//.feature-news-homepage,
//.hero{
//  .sticky-post{
//    display: block;
//  }
//}
