.video-container{
  position: relative;
  &:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    opacity: 0;
  }
  .hero-header,
  .hero-footer{
    position: absolute;
    z-index: 5 !important;
  }
  .hero-header{
    left: 50%;
    top: 40%;
    @media only screen
    and (orientation : landscape) { top: 50%;}
    transform: translate(-50%,-50%);
    max-width: 430px;
    width: 92%;
    text-align: center;

    h1{
      margin-bottom: 30px;
      line-height: 1.15;
      color:  map-get($ben-palette, 'navy-blue');
    }
  }
  .hero-footer{
    left: 50%;

    bottom: 15%;
    transform: translate(-50%,50%);
    max-width: 430px;
    text-align: center;
    //fixed for lanscape iphone 5
    @media only screen
    and (orientation : landscape) { display: none;}
    img {
      width: 50px;
      @include breakpoint(medium) {
        width: 90px;
      }

      display: block;
      margin: auto;
    }
    span{
        text-transform: uppercase;
        color: map-get($foundation-palette, 'primary');
        font-weight: 900;
    }
  }
}