
.news {

  &--image{
    .image-crop{
      margin-bottom: 0 !important;
    }
  }
  &--category {
    &--title {

    }
    &--category {

    }
  }
  &--title{
    h3 a{
      font-size: rem-calc(22);
      color: black;
    }

    &_hero{
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 25px;
      &:after{
        content: "";
        position: absolute;
        top: auto;
        bottom: 0;
        width: 30%;
        border-bottom: 1px  solid map-get($ben-palette, 'secondary-text-grey');

      }

    }
  }
  &--description-holder{
    background:  map-get($ben-palette, 'cream');
    padding: 20px;
    &_hero{
      background: rgba(map-get($ben-palette, 'cream'), .9);
      padding: 30px 30px;
      position: relative;
      z-index: 10;
    }
  }
  &--description{
    font-size: rem-calc(15);
    color: black;
    margin-bottom: 30px;
  }
  &--cta{
    margin-bottom: 10px;
  }
}
.news{

  &_featured{
    margin-bottom: 30px;
  }
  &_featured_hero{
    margin-bottom: 0px;

  }

}