
.news {

  &--image{
    .image-crop{
      margin-bottom: 0 !important;
    }
  }
  &--category {
    &--title {

    }
    &--category {

    }
  }
  &--title{
    h1 {
      font-size: rem-calc(44);
      margin-top: 0;
      padding-top: 0;
      color: map_get($ben-palette, 'navy-blue');
    }
    h3 a{
      font-size: rem-calc(22);
      color: black;
    }

    &_hero{
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 25px;
      &_single{
        padding-bottom: 4px;
        margin-bottom: 15px;
      }
      &:after{
        content: "";
        position: absolute;
        top: auto;
        bottom: 0;
        width: 30%;
        border-bottom: 1px  solid map-get($ben-palette, 'secondary-text-grey');

      }

    }
  }
  &--description-holder{
    background:  map-get($ben-palette, 'cream');
    padding: 20px;
    &_hero{
      background: rgba(map-get($ben-palette, 'cream'), .9);
      padding: 30px 30px;
      position: relative;
      z-index: 10;
    }
    &_hero_single{
      padding: 15px 30px 30px;
    }
    &_archived{
      padding: 30px 30px;
      margin-bottom: 30px;
      background: #fff;
    }
  }
  &--description{
    font-size: rem-calc(15);
    color: black;
    margin-bottom: 30px;
  }
  &--cta{
    margin-bottom: 10px;
  }
}
.news{

  &_featured{
    margin-bottom: 30px;
  }
  &_featured_hero{
    margin-bottom: 0px;

  }

}

.news {

  .single-post{
    &--title-holder{
      background: rgba(255,255,255,0.85);
      padding: 25px;
    }
  }
}

.category{
  &-article,
  &-post{
    color: map-get($blog-palette, 'news');
    font-weight: 900;
  }
  &-review{
    color: map-get($blog-palette, 'news');
  }
  &-news{
    color: map-get($blog-palette, 'news');
  }
}


//News single
body.single-post .main-content{
  background: #fff;

  padding: 30px 20px;
}
