.wp-caption > figcaption {
  max-width: 100%;
  font-size: 0.8rem;
  color: #999;
  padding: 0.25rem 0;
}

p.wp-caption-text{
  font-size:90%;
  color: #666;
  padding:rem-calc(10) 0;
}

.alignleft {
  float: left;
  padding-right: 1rem;
  margin: 0;
}

.alignright {
  float: right;
  padding-left: 1rem;
  margin: 0;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center{
  text-align: center;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.sb_instagram_header{
  display: none;
}


#sb_instagram.sbi_col_6 #sbi_images .sbi_item {
  width: 33.333333333333333333%;
}

@media screen and (min-width: 40em){
  #sb_instagram.sbi_col_6 #sbi_images .sbi_item {
    width: 25%;
  }
}
@media screen and (min-width: 64em) {
  #sb_instagram.sbi_col_6 #sbi_images .sbi_item {
    width: 16.66%;
  }
}
a.sbi_photo.sbi_imgLiquid_bgSize.sbi_imgLiquid_ready {
  height: auto !important;
  padding-top: 100% !important;
}